@import 'header';
@import 'graph';
@import 'footer';

a{
    text-decoration: none;
    color: #555;
}
body{
    color: #555;
     font-family: sans-serif;
     h2{
         font-weight: 400;
         
     }
     
}
