.wap {
  padding: 0 2%;
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 700px) {
  .wap {
    padding: 0;
  }
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  list-style: none;
  font-size: 1.25rem;
}

.header-nav-list li {
  padding-left: 3rem;
}

.header-nav-list i {
  display: none;
}

.header-nav-list p {
  margin: 0;
  padding: 0.5rem;
}

@media (max-width: 700px) {
  .header-nav-list {
    padding: 0;
  }
  .header-nav-list i {
    display: block;
    text-align: center;
  }
  .header-nav-list li {
    padding: .3rem;
    display: block;
  }
  .header-nav-list p {
    font-size: .75rem;
  }
}

.header {
  margin: 0;
}

.header-boder {
  border-bottom: 2px #2d3374 solid;
}

@media (max-width: 700px) {
  .header-boder {
    border-bottom: none;
  }
}

.header-color {
  background: none;
}

@media (max-width: 700px) {
  .header-color {
    background: #f8f6f2;
  }
}

.header-hover:hover {
  border-bottom: 2px #2d3374 solid;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 1rem 1rem 1rem;
}

@media (max-width: 700px) {
  header {
    padding: 1rem;
  }
}

.logo {
  width: 100%;
  height: 40px;
}

@media (max-width: 700px) {
  .logo {
    width: 7.5rem;
    margin: 0;
  }
}

.home {
  background-image: url(../images/bg-hero.jpg);
  background-size: 76%;
  background-position: right top;
  background-repeat: no-repeat;
  height: auto;
  padding: 7vw 1rem;
}

@media (max-width: 700px) {
  .home {
    background-size: 70%;
    padding: 5.5rem 1rem 3rem;
  }
}

.home-text {
  width: 47%;
}

.home-text h2 {
  font-size: 2.5rem;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-weight: 400;
  padding: 1rem;
}

.home-text p {
  font-size: 1.125rem;
  line-height: 1.5;
}

@media (max-width: 700px) {
  .home-text {
    width: 100%;
  }
  .home-text h2 {
    font-size: 1.5rem;
    display: inline-block;
    margin: 8vw 0;
    background: rgba(255, 255, 255, 0.8);
  }
  .home-text p {
    font-size: 1.125rem;
    margin-bottom: 2rem;
  }
}

.button {
  background-color: #2d3374;
  padding: 1.25rem 3.25rem;
  text-align: center;
  display: inline-block;
  font-size: 1.375rem;
}

.button a {
  color: #fff;
}

@media (max-width: 700px) {
  .button {
    padding: 1.25rem 3.25rem;
    display: block;
  }
}

.button:hover {
  opacity: 0.5;
}

.graph-bg {
  background-color: #f8f6f2;
}

.ct-label {
  font-size: 1rem;
  fill: #fff;
}

.ct-series-a .ct-slice-pie {
  fill: #2d3374;
}

.ct-series-b .ct-slice-pie {
  fill: #3a7edf;
}

.ct-series-c .ct-slice-pie {
  fill: #9bcbf8;
}

.ct-series-d .ct-slice-pie {
  fill: #bbb;
}

.graph-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 1rem;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.graph-text {
  width: 50vw;
}

.graph-text h2 {
  font-size: 1.875rem;
  font-family: 'Sawarabi Mincho', sans-serif;
  line-height: 1.5;
}

@media (max-width: 700px) {
  .graph-text {
    width: 100%;
  }
  .graph-text h2 {
    font-size: 1.5rem;
  }
  .graph-text p {
    line-height: 1.7;
  }
}

.home-chart {
  width: 36vw;
  margin: 0.8rem;
}

@media (max-width: 700px) {
  .home-chart {
    display: none;
  }
}

.graph-title::after {
  content: '';
  display: block;
  height: 5px;
  width: 10rem;
  background: #d0bea2;
  margin: 2rem 0 2.5rem;
}

.ct-series-a .ct-bar {
  stroke: #3a7edf;
}

.ct-bar {
  stroke-width: 16%;
}

.home-p {
  text-align: center;
}

footer {
  text-align: center;
  background: #2d3374;
  padding-bottom: 2rem;
}

@media (max-width: 700px) {
  footer {
    padding: 2rem 1.5rem;
  }
}

.footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.footer-nav li {
  margin: 1rem;
}

.footer-nav a {
  color: #d5d7e4;
}

@media (max-width: 700px) {
  .footer-nav ul {
    display: block;
    padding: 0;
  }
}

.footer-button {
  background: #d0bea2;
  color: black;
  padding: 1rem 3rem;
  display: inline-block;
  margin: 3.5rem 0 2rem 0;
}

.footer-button a {
  font-size: 1.375rem;
  font-family: 'Sawarabi Mincho', sans-serif;
}

@media (max-width: 700px) {
  .footer-button {
    padding: 1.25rem 3.25rem;
    display: block;
    margin: 0 0 3rem 0;
  }
}

.footer-button:hover {
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: #555;
}

body {
  color: #555;
  font-family: sans-serif;
}

body h2 {
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */